mixin articleBox(options)
  -
    title = options.title
    subtitle= options.subtitle
    desc = options.desc
    articleImg = options.articleImg.img
    articleAlt = options.articleImg.alt
    articleLink = options.href || ""
    description = options.description || ""
    number = options.number || ""
  
  .articleBox&attributes(attributes)
    a(href=articleLink)
      if options.isVideo
        .article__video-thumbnail
          .articleImg: img(data-src=articleImg src="/images/default/img-1x1-transparent.png" alt=articleAlt)
        .article-description
          h3.article-title!= title
          .article-desc= desc
          .link-more
            p.link-more--p Learn more
      else if options.isArticle
        .articleImg: img(data-src=articleImg src="/images/default/img-1x1-transparent.png" alt=articleAlt)
        .article-description
          h3.article-title!= title
          .article-desc= desc
          .link-more
            p.link-more--p Learn more