mixin btnLoader
  span.btn__loader
    span.sk-fading-circle
      span.sk-circle1.sk-circle
      span.sk-circle2.sk-circle
      span.sk-circle10.sk-circle
      span.sk-circle3.sk-circle
      span.sk-circle4.sk-circle
      span.sk-circle5.sk-circle
      span.sk-circle6.sk-circle
      span.sk-circle7.sk-circle
      span.sk-circle8.sk-circle
      span.sk-circle9.sk-circle
      span.sk-circle10.sk-circle
      span.sk-circle11.sk-circle
      span.sk-circle12.sk-circle

mixin Btn(options)
  - var type = options.type || "button"
  - var href = options.href || ""
  - var id = options.id || ""
  - var loader = options.loader || false

  if type == "button"
    button.btn(class=options.class,id=id)&attributes(attributes)= options.text
      if loader
        +btnLoader()
  else if type == "link"
    a.btn(class=options.class, href=options.href,id=id)&attributes(attributes)= options.text
  else if type == "span"
    span.btn(class=options.class,id=id)&attributes(attributes)= options.text
      if loader
        +btnLoader()

