mixin Dropdown(options)
  - type = options.type || ''
  - id = options.id || ''
  - items = options.items || []
  - value = options.items[0] || ''

  if type == "language"
    .dropdown.language
      .dropdown-value
        span.dropdown-value-span= value.value
      ul.dropdown-content(id=id)
        each item in items
          li(class="js-dropdown-item", data-item=item.value, data-site-url=item.url)
            img(src=item.img, alt="")
            span= item.value
  else
    .dropdown
      .dropdown-value
        span.dropdown-value-span= value
      ul.dropdown-content(id=id)
        each item in items
          li(class="js-dropdown-item", data-item=item)= item