mixin RadioChoice(options)
  -
    var id1 = options.first.id
    var id2 = options.second.id
    var label1 = options.first.label
    var label2 = options.second.label
    var name = options.name
    var value1 = options.first.value
    var value2 = options.second.value

  .switch-container
    .switch(class=classSwitch)&attributes(attributes)
      input.switch-input(id=id1 type='radio', name=name, checked='', value=value1)
      label.switch-label(for=id1)= label1
      input.switch-input.switch-2(id=id2 type='radio', name=name, value=value2)
      label.switch-label(for=id2)= label2
