mixin box(options)
  - var type = options.type || "benefits"
  - var img = options.img 
  - var alt = options.alt || ""
  - var title = options.title || ""
  - var pictureClass = options.pictureClass || ""
  - var imgClass = options.imgClass || ""
  - var titleClass = options.titleClass || ""
  - var descriptionClass = options.descriptionClass || ""
  - var description = options.description
  - var theme = options.theme || "white"
  - var link = options.link 
  - var lazyLoad = options.lazyLoad || false

  .box(data-type=type,data-theme=theme)
    .box__visual
      +img({
        classe: "box__img " + pictureClass,
        desktop: img,
        alt: alt,
        imgClass: imgClass,
        lazyLoad: lazyLoad
      })
    h4.box__title(class=titleClass) #{title}
    if description
      p.box__description(class=descriptionClass) #{description}
    if link
      a(href=link.href) #{link.label}
