mixin PackProduct(options)
  -
    title = options.title
    subtitle= options.subtitle
    desc = options.desc
    packshot = options.packshot.img
    packAlt = options.packshot.alt
    productLink = options.href || "/product-detail.html"
    buyNowClass = options.buyNowClass
    ean = options.ean || "400842909228288"
    description = options.description || "High in \"Wild\" vitamins"
    rating = options.rating || false
    ratingClass = options.ratingClass || ""
    ratingIdProduct = options.ratingIdProduct || ""
    typeRating = options.typeRating || "with-click"
    btnBottom = options.btnBottom || false
    btnText = options.btnText || "acheter maintenant"
    seeAllReviews = options.seeAllReviews || false
    dataReview = options.dataReview || "dogs"
    dataProductId = options.productId || ""
    


  .product&attributes(attributes)
    a(href=productLink)
      .packshot: img(data-src=packshot src="/images/default/img-1x1-transparent.png" alt=packAlt)
      .description
        h3.product__title!= title
        .product__subtitle= subtitle
        if rating
          .product__rating
            +Rating({type: typeRating , ratingClass: ratingClass, ratingIdProduct: ratingIdProduct, dataReview: dataReview , dataProductId: dataProductId})
        .product__desc= desc
        if !btnBottom
          +Btn({
            class: "btn--primary btn--small js-buy-now",
            text: btnText,
            type: "span"
          })(data-ean=ean, data-header-description=description,data-product-name=desc)
    if btnBottom
      if !seeAllReviews
        .product__btn
          +Btn({
            class: "btn--primary btn--full js-buy-now",
            text: btnText,
            type: "span"
          })(data-ean=ean, data-header-description=description,data-product-name=desc)
      if seeAllReviews
        .product__btn
          +Btn({
            class: "btn--primary btn--full js-see-all-reviews",
            text: btnText,
            type: "link"
          })(data-ean=ean, data-header-description=description,data-product-name=desc)
