mixin Review(options)
  - var name = options.name || ""
  - var country = options.country || ""
  - var date = options.date || ""
  - var date_side = options.date_side || ""
  - var titlereview = options.titlereview || ""
  - var description = options.description || ""
  - var typeRating = options.typeRating || ""
  - var detailsCriteria = options.detailsCriteria || []
  - var img = options.img || ""
  - var question = options.img || false
  - var nameDateInline = options.nameDateInline || false
  - var type = options.type || 1
  - var imgCircle = options.imgCircle || ""
  - var subtitlereview = options.subtitlereview || ""
  - var isRecommended = options.isRecommended || false
  if type === 1
    .review-block
      if !nameDateInline
        .review-block__name
          strong #{name}
          span.review-block__divider
          span #{country}
        .review-block__date
          span #{date}
          span.review-block__divider--date -
          span #{date_side}
      if nameDateInline
        .review-block__name
          strong #{name}
          span.review-block__divider
          span #{country}
          span.date #{date}
          span.date #{date_side}
      .review-block__rating
        +Rating({type: typeRating, dataNote: "3.5"})
      .review-block__title-review
        strong #{titlereview}
      .review-block__description
        p #{description}
      .review-block-details-criteria
        each detailsCriteriaItem in detailsCriteria
          .review-block__details-criteria
            span=detailsCriteriaItem
            +Rating({type: typeRating, dataNote: "3.5"})
      if img
        .review-block__img
          img(src=img alt="")
      if isRecommended
        .review-block__isRecommended
          span isRecommended
      if question
        .review-block__ishelpful.js-ishelpful-response
        form.review-block__question.js-ishelpful-question
          .question-title
            span Was this review helpful to you?
          .question-checkbox
            +Input({
              type: "radioCarre",
              id: "is-helpful-yes",
              class: "",
              label: "yes",
              name: "ishelpful",
              dataTheme:"green"
            })
            +Input({
              type: "radioCarre",
              id: "is-helpful-no",
              class: "",
              label: "no",
              name: "ishelpful",
              dataTheme:"green"
            })
  if type === 2
    .review-block-bg
      .review-block.review-block-head
        if !nameDateInline
          .review-block__name
            strong #{name}
            span.review-block__divider
            span #{country}
          .review-block__date
            span #{date}
            span.review-block__divider--date -
            span #{date_side}
        if nameDateInline
          .review-block__name
            strong #{name}
            span.review-block__divider
            span #{country}
            span.date #{date}
            span.date #{date_side}
        .review-block__rating
          +Rating({type: typeRating, dataNote: "3.5", count: "5"})
        .review-block__subtitlereview
          span=subtitlereview
      .clearfix
      .review-block.type-two
        .review-block__title-review
          strong #{titlereview}
        .review-block__description
          p #{description}
        .review-block-read-more
          a.js-review-read-more(href="/pageDetail-R&R.html") read more

