.ctb-script
  script( 
    src="https://fi.global.commerce-connector.com/js/cc_fi-min.js" 
    data-token="42998cf32d552343bc8e460416382dca" 
    data-country="FR" 
    data-language="fr" 
    data-displaylanguage="fr" 
    data-ean="04008429090417" 
    data-button-text="Buy now" 
    data-button-textcolor="#fff" 
    data-button-backgroundcolor="#24896e" 
    data-button-height="50px" 
    data-button-width="230px" 
    data-button-hover-textcolor="#24896e" 
    data-button-hover-backgroundcolor="#fff" 
    data-header="true" 
    data-header-color="#524b48" 
    data-header-logourl="http://localhost:3000/images/default/logo.png" 
    data-header-description="Perfect Fit Adult 1 + Chats Stérilisés au Poulet" 
    data-header-close-color="#24896e" 
    data-footer-backgroundcolor="#f1f5f8" 
    data-footer-color="#524b48" 
    data-highlightcolor="#24896e" 
    data-variant-selectiontype="dropdown" 
    data-variant-text="Choisissez votre conditionnement :" 
    data-local-search-placeholder="Entrez une ville ou un code postal" 
    data-style="#ccLb-header {display:table; max-height: 100%;} #ccLb-header .header-left {width:60px;} #ccLb-header img {margin:5px;} #header-details {width:calc(100% - 60px);} #ccLb-header .header-right {border:none;} #ccLb-header .header-right-small {width:98%;height:9px;} #ccLb-header .header-right-big {width:98%;} #header-description {line-height:1.2em; max-height: 100%; margin-bottom: 9px; width: calc(100% - 50px)} #header-description sup {font-size: 11px; position: relative; left: -2px;} #ccLb-nav li.ccLb-active {border-bottom-color:#24896e;} #ccLb-footer a, #ccLb .ccLb-contactStore a {color:#24896e;} #ccLb .ccLb-contactStore a svg path {fill:#24896e;} #ccLb .ccLb-stock-content path.circle {fill:#24896e;} #ccLb-filters-results {line-height:12px; font-size:16px;} #ccLb-filters-top .select-icon {top:37px; height:20px;}"
  )